* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'PT Sans', sans-serif !important;
}

.home,
.services,
.products,
.sign-up {
  display: flex !important;
  height: 90vh !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 3rem !important;
}

.services {
  background-image: url('/public/images/img-2.jpg') !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  color: #fff !important;
  font-size: 100px !important;
}

.products {
  background-image: url('/public/images/img-1.jpg') !important;
  background-position: center !important;
  background-size: fill !important;
  background-repeat: no-repeat !important;
  color: #fff !important;
  font-size: 100px !important;
}

.sign-up {
  background-image: url('/public/images/img-8.jpg') !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  color: #fff !important;
  font-size: 100px !important;
}